@import "./variable.scss";


#search-breweries {
  margin: 75px 0px 75px;
  width: 50vw;
}

.App {
  text-align: center;
  background-image: url(./Assets/AppAssests/beerImg.jpg);

  /* Set a specific height */
  height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  

}

.beer-app {
  background: linear-gradient(
    to right,
    rgba(7, 27, 81, 1) 0%,
    rgba(0, 128, 128, 1) 100%
    );
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

#search-beers {
  float: center;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 20px;
  color: #61dafb;
  width: 50%;
}

.app-title {
  font-family: "Bigelow Rules";
  font-size: 72px;
  color: #61dafb;
}

/* .current-page{
  background: linear-gradient(
    to left,
    rgba(7, 27, 81, 1) 0%,
    rgba(0, 128, 128, 1) 100%
    );
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */


* {
  @include scrollbar;
}
.hide-slide {
  position: relative;
  z-index: -5;
}



